<div class="container">
  <div class="col-md-12">
    <div class="card col-md-6">
      <span class="title">DOAÇÕES</span>
      <p class="text">
        Nosso abrigo aceita doações em dinheiro, que são totalmente revertidas em insumos e melhores condições para nossos animais.
        <br>
        <br>
        <b>Conta bancária de Giselle Cunha Rago (mantenedora do abrigo)
          <br>CPF: 032.937.218-18
          <br>Caixa Econômica Federal
          <br>Agência 2385
          <br>Conta Poupança 3721-6
          <br>Operação 013
        </b>
      </p>
      <p class="text">
        O Pic Pay é uma opção quem quiser doar com cartão de crédito. Não pagamos taxas para receber esse valor.
        <br> Se você ainda não tem Pic Pay, use este link:
        <a target="_blank" href=" http://www.picpay.com/convite?@KZWLYX">http://www.picpay.com/convite?@KZWLYX</a>, com o código do abrigo para se cadastrar, ou só insira o código KZWLYX
        no final do cadastro.
        <br> No primeiro uso com cartão de crédito, você ganhará R$ 10,00 e ainda ajudará o abrigo, que também ganhará R$ 10,00.
        <br> O app Pic Pay é um aplicativo seguro, por meio do qual é possível pagar estabelecimentos e colocar créditos no Uber,
        Bilhete Único, celular, etc.

      </p>
      <p class="text">
        Para doar, use o link
        <a target="_blank" href="https://app.picpay.com/user/saltimbacosabrigo.gisele">picpay.me/saltimbacosabrigo.gisele</a> ou use o QR code na imagem. É possível doar com cartão de crédito ou pelo
        dinheiro colocado em conta por transferência ou boleto (mais detalhes e instruções nas imagens).
        <br> OBS: O app vive tendo promoções de Cash Back (ou seja, você paga alguma coisa com cartão de crédito e ganha um percentual
        de volta, o que é bem legal!).

      </p>
      <p class="text">
        Além disso, se preferir, pode doar produtos de limpeza e higiene dos animais, ração, roupinhas, remédios, caminhas, jornais...
        Qualquer que seja sua contribuição, será de muito valor. Entre em contato, e informaremos a marca da ração que costumamos
        comprar ou qualquer outro dado de que você necessite, para que a doação possa ser mais efetiva ainda.
        <br> Você pode nos visitar na sede do abrigo a qualquer momento, para deixar os produtos ou ainda combinar a retirada.
        Também pode aproveitar nossos eventos de adoção para fazer a doação em mãos.
      </p>

    </div>
    <div class="card col-md-6">
      <span class="title">VOLUNTARIADO</span>
      <p class="text">
        Voluntários também são doadores, eles doam aquilo que, muitas vezes, é o mais precioso: tempo e carinho.
      </p>
      <p class="text">
        Temos sempre espaço para que pessoas de bem venham passar algum tempo com nossos animais, seja para levá-los para passear,
        brincar, dar banho, adestrar, cortar as unhas, limpar orelha, entre outros.
      </p>
      <p class="text">
        Também estamos abertos para estudantes de veterinária, fisioterapia e terapias alternativas, como acupuntura, disporem de
        seus recém-adquiridos conhecimentos para tornar a vida de algum cachorrinho ou gatinho menos difícil. Para isso,
        pedimos que entre em contato para saber as condições físicas e de saúde dos nossos resgatados.
      </p>
      <p class="text">
        Por fim, se você apenas se identifica com a causa, mas não tem em mente nenhuma atuação específica, venha conversar conosco!
        Podemos usar da sua ajuda em feirinhas de adoção, com as nossas redes sociais, em campanhas de doação, e muitas outras
        áreas igualmente importantes para a manutenção do abrigo.
      </p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card col-md-6">
      <span class="title">APADRINHAMENTO</span>
      <p class="text">
        O padrinho ou a madrinha são como donos que moram em casas diferentes.
      </p>
      <p class="text">

        São pessoas que geralmente não podem adotar um animalzinho no momento, por estarem mudando de casa, viajando demais, por
        alergias ou outros impedimentos externos, mas que os amam mesmo assim.
        <br> Nestes casos, os padrinhos contribuem com um valor ou produtos mensais para manter um animal sob os nossos cuidados,
        e recebem em troca fotos, relatórios e todo tipo de informação sobre o seu afilhado, até que receba um novo lar (e
        mesmo nesses casos, incentivamos a troca de contatos).
      </p>
      <p class="text">
        Os padrinhos podem escolher valores e quantidades para contribuir ou podem entrar em contato para saber o valor médio de
        mantimento do animal dentro do abrigo. Esta também não é uma obrigação recorrente, embora façamos questão de lembrar
        que o animal não deixa de comer, usar medicações e ter outras necessidades em qualquer período do ano.
      </p>
      <p class="text">
        Você ainda será bem-vindo para conhecer e visitar seu afilhado sempre que quiser, em nossos eventos ou na sede do abrigo.
      </p>
    </div>
    <div class="card col-md-6">
      <span class="title">PARCERIAS</span>
      <p class="text">
        Empresas também podem ajudar muito a causa. Pet-shops, por exemplo, podem realizar feiras de adoção em seus estabelecimentos
        ou doar serviços e produtos. Outras empresas podem patrocinar nosso abrigo para melhorar a infraestrutura dos animais
        ou doar produtos em maior quantidade.
      </p>
      <p class="text">
        Qualquer que seja sua área de atuação, estamos sempre abertos para construir juntos o impacto positivo e gerar valor na parceria.
      </p>
    </div>
  </div>
</div>