<div class="panel-group" id="accordion">
  <h2>Perguntas Frequentes</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title bg">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Quero adotar um cão ou gato</a>
      </h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>
          Antes de tudo, consulte seu bolso, tempo e espaço, sua família, paciência e alergias. Animais não são
          descartáveis. No Brasil, existem mais de 20 milhões de animais abandonados. Reflita bem!
        </p>
        <p>
          Você precisa ter condições de assumir a responsabilidade: um filhote viverá pelo menos 10 anos, e filhotes
          precisam ser educados e ter disciplina. Mesmo assim, aprontam muito até os dois anos.
        </p>
        <p>
          Já um animal adulto é identificado por sua personalidade, qualidades, manias, e defeitos.
        </p>
        <p>
          Considere os custos com alimentação, vacinas e tratamentos veterinários.
        </p>
        <p>
          É importante salientar que animais de estimação só podem ser adotados por pessoas com idade igual ou superior
          a 21 anos.
        </p>
        <p>
          Se você não tem condições de adotar, considere a possibilidade de nos ajudar.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Não posso adotar, mas quero ajudar como voluntário</a>
      </h5>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <p>
            Nossa missão é angariar "anjos" para ajudar mensalmente com os gastos mensais do abrigo. Há inúmeras
            maneiras
            de nos ajudar:
          </p>
          <li>
            <p>
              Você pode doar ração (principalmente!), jornais, medicamentos, caminhas, cobertores, produtos de
              higiene e
              brinquedos.
            </p>
          </li>
          <li>
            <p>
              Você também pode doar dinheiro, por meio de conta bancária ou pelo PicPay:
            </p>

            <ul>
              <li>
                <p>Conta bancária</p>
                <p><b>Caixa Econômica Federal:</b>
                  <br>
                  Agência: 2385<br>
                  Conta Poupança: 3721-6<br>
                  Operação: 013<br>
                  Titular: Gisele Cunha Rigo<br>
                </p>
              </li>

              <li>
                <p>PicPay</p>
                <p>
                  Se você ainda não tem PicPay, use este link: <b><a href="https://www.picpay.com/convite?@KZWLYX" alt="PicPay link convite">PicPay</a></b>,
                  com o código do
                  abrigo para se cadastrar, ou só insira o código <b>KZWLYX</b> no final do cadastro.</p>
                <p>
                  No primeiro uso com cartão de crédito, você ganhará R$ 10,00 e ainda ajudará o abrigo, que também
                  ganhará
                  R$ 10,00.
                </p>
                <p>
                  O app PicPay é um aplicativo seguro, por meio do qual é possível pagar estabelecimentos e colocar
                  créditos no Uber, Bilhete Único, celular, etc.
                </p>
                <p>
                  Para doar, use o link <b><a href="https://picpay.me/saltimbacosabrigo.gisele" alt="Saltimbancos Abrigo - PicPay">Saltimbancos
                    Abrigo - PicPay</a></b> ou use o QR code na imagem. É possível doar
                  com
                  cartão de crédito ou pelo dinheiro colocado em conta por transferência ou boleto (mais detalhes e
                  instruções nas imagens).
                </p>
                <p>
                  OBS: O app vive tendo promoções de Cash Back (ou seja, você paga alguma coisa com cartão de crédito e
                  ganha um percentual de volta, o que é bem legal!)
                </p>
              </li>
            </ul>
          </li>
          <li>
            <p>
              Apadrinhamento:
            </p>
            <p>
              O padrinho ou a madrinha são como donos que moram em casas diferentes.
              São pessoas que geralmente não podem adotar um animalzinho no momento, por estarem mudando de casa,
              viajando demais, por alergias ou outros impedimentos externos, mas que os amam mesmo assim.
            </p>
            <p>
              Nestes casos, os padrinhos contribuem com um valor ou produtos mensais para manter um animal sob os
              nossos cuidados, e recebem em troca fotos, relatórios e todo tipo de informação sobre o seu afilhado, até
              que receba um novo lar (e mesmo nesses casos, incentivamos a troca de contatos).
            </p>
            <p>
              Os padrinhos podem escolher valores e quantidades para contribuir ou podem entrar em contato para saber o
              valor médio de mantimento do animal dentro do abrigo. Esta também não é uma obrigação recorrente, embora
              façamos questão de lembrar que o animal não deixa de comer, usar medicações e ter outras necessidades em
              qualquer período do ano.
            </p>
            <p>
              Você ainda será bem-vindo para conhecer e visitar seu afilhado sempre que quiser, em nossos eventos ou na
              sede do abrigo.
            </p>
          </li>
          <li>
            <p>
              Você pode trabalhar em nossos bazares, feiras de adoção e rifas.
            </p>

            <p>Estamos em Riacho Grande, a apenas 45 min de São Paulo. Entre em contato conosco!
            </p>
        </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title bg">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Preciso doar meu cão ou gato</a>
      </h5>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          O Abrigo Saltimbancos é o lar de muitos animais (cachorros, gatos e coelhos) que foram abandonados ou
          nasceram nas ruas. A dona é a Gisele, uma mulher batalhadora que faz o possível e o impossível para
          mantê-los. Abrigos, ONGs e protetores estão todos lotadíssimos, pois o número de animais abandonados cresce a
          cada dia.
        </p>
        <p>
          Pense bem nos motivos que o levaram essa decisão, e como seu animal irá sofrer e sentir sua falta.
        </p>
        <p>
          Ele é um ser vivo e merece respeito e carinho, e jamais o abandonaria. Você é tudo para ele. Faça valer o
          amor dele por você e retribua...
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          Tem um cão ou gato abandonado na minha rua. O que devo fazer?</a>
      </h5>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          O ideal é levá-lo à uma clínica veterinária, para checar a saúde dele, vermifugá-lo e vaciná-lo. Caso vá
          ficar com ele, pense em esterilizá-lo, se não puder ficar com as crias e não tiver com quem deixá-las.
        </p>
        <p>
          Caso não queira ou não possa ficar com ele...
        </p>
        <p>
          Cada um pode fazer sua parte para uma sociedade melhor.
        </p>
        <p>
          Use as mídias sociais para doá-lo, existem até aplicativos de adoção. Todo mundo tem um cantinho em casa e
          pode ajudar. Não é tão difícil como parece...
        </p>
        <p>
          Você também pode divulgar fotos dos animais em clínicas veterinárias e pet-shops que disponibilizam um mural
          para doação de animais. Recomendamos que as fotos sejam de corpo inteiro.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title bg">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          Encontrei um cão ou um gato doente ou atropelado</a>
      </h5>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Aproxime-se do animal com cautela, mostre-lhe que quer ajudá-lo e, somente quando ganhar sua confiança, tente
          removê-lo. Em seguida, encaminhe-o a uma clínica veterinária.
        </p>
        <p>
          A cidade de São Paulo possui dois hospitais veterinários públicos, para o atendimento de Urgência e
          Emergência
          de cães e gatos. Eles funcionam de segunda a sexta-feira, com retirada das senhas para atendimento das 6h às
          10h.
        </p>
        <ul>
          <li>
            <p>
              Unidade Zona Leste
              Av. Salim Farah Maluf, s/nº, esquina com a Rua Ulisses Cruz - Tatuapé
            </p>
          </li>
          <li>
            <p>
              Unidade Zona Norte
              Avenida General Ataliba Leonel, 3.194 - Tucuruvi
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          Por que devo castrar meu cão?</a>
      </h5>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <p>Nas <b>fêmeas</b>, a castração:</p>
          <li>
            <p>Elimina a piometra (infecção uterina grave que atinge 60% dos animais);</p>
          </li>
          <li>
            <p>Se a castração acontecer antes do primeiro cio, as chances de surgirem tumores de
              mamas diminuem em até 95%;</p>
          </li>
          <li>
            <p>Evita gravidez indesejada;</p>
          </li>
          <li>
            <p>Evita fugas de casa no período do cio;</p>
          </li>
          <li>
            <p>Evita brigas e a miação nervosa das gatas;</p>
          </li>
          <li>
            <p>Evita o abandono da cria</p>
          </li>
        </ul>
        <ul>
          <p>Nos <b>machos</b>, a castração:</p>
          <li>
            <p>Evita fugas;</p>
          </li>
          <li>
            <p>Evita o constrangimento de cães "agarrando" em pernas ou braços de visitas;</p>
          </li>
          <li>
            <p>Evita a marcação do território (xixi fora do lugar);</p>
          </li>
          <li>
            <p>Evita a agressividade motivada por excitação sexual constante;</p>
          </li>
          <li>
            <p>Evita tumores testiculares;</p>
          </li>
          <li>
            <p>Evita a perpetuação de doenças geneticamente transmissíveis, como epilepsia,
              displasia coxofemural, catarata juvenil (em descendentes de animais que tiveram o diagnóstico dessas
              doenças);</p>
          </li>
          <li>
            <p>Previne o aumento do número de animais de rua.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title bg">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          Maltratar animais é crime</a>
      </h5>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          A Lei Federal 9.605/98, que dispõe sobre as sanções penais e administrativas derivadas de condutas e
          atividades lesivas ao meio ambiente, afirma em seu artigo 32:
        </p>
        <p><em>
            “Praticar ato de abuso, maus-tratos, ferir ou mutilar animais silvestres, domésticos ou domesticados,
            nativos
            ou exóticos":</em>
        </p>
        <p>
          Pena - detenção, de três meses a um ano, e multa.
        </p>
        <p class="lei">
          § 1º Incorre nas mesmas penas quem realiza experiência dolorosa ou cruel em animal vivo, ainda que para fins
          didáticos ou científicos, quando existirem recursos alternativos.
        </p>
        <p class="lei">
          § 2º A pena é aumentada de um sexto a um terço, se ocorre morte do animal.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
          Como denunciar?</a>
      </h5>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Em São Bernardo do Campo, formalize a denúncia e B.O (boletim de ocorrência) por meio da Delegacia de
          Investigação de Infrações e Crimes contra o Meio Ambiente (DICMA) e, de posse do documento, peça apoio à
          Comissão de Proteção Animal da OAB de São Bernardo do Campo.
        </p>
        <p>
          Em São Paulo, contate a Delegacia de Defesa dos Animais - Divisão de Infrações de Maus-Tratos a Animais - Av.
          São João, 1247 - Centro. Telefones: (11) 3338-0155 / 3338-1380. Funcionamento 24h.
        </p>
        <p>
          Pela <a href="http://www.ssp.sp.gov.br/depa/DEPA/Denuncia" target="_blank">Delegacia Eletrônica de Proteção
            dos Animais (DEPA)</a>, é possível registrar o B.O. de forma anônima, se você preferir, e o documento é
          encaminhado para que o caso seja investigado. É necessário notificar data, local e horário aproximado em que
          ocorreu o crime e identificar o autor.
        </p>
        <p>
          Os moradores de 39 municípios da Grande São Paulo e da capital também contam com um disque-denúncia
          específico
          para os casos de maus-tratos de animais: o telefone 0800 600 6428.
        </p>
      </div>
    </div>
  </div>
</div>
